.umkc-blue {
background:#0066cc;
}

.umkc-yellow {
background:#ffd52f;
}

#my-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#main-content-wrap {
  padding-bottom: 64px;
}

.card:hover{
transform: scale(1.03);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.nav-link {
color:white !important;
}

.form-container {
display: grid;
place-items: center;
min-height: 50vh;
}

.flashes {
    position: absolute;
}

.flashes-error {
padding: 4px;
background-color: red;
color: white;
text-align: center;
position: absolute;
top: 0;
left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
width: 50%;

-webkit-animation: cssAnimation 5s forwards;
animation: cssAnimation 5s forwards;

}

.flashes-success {
padding: 4px;
background-color: green;
color: white;
text-align: center;
position: absolute;
top: 0;
left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
width: 50%;

-webkit-animation: cssAnimation 5s forwards;
animation: cssAnimation 5s forwards;
}

@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

#nav-logo {
float: left;
width: 110.3125px;
height: 85px;
}

.main-image-container {
width: 100%;
height: 400px;
background-position: center;
background-size: cover;
background: url(https://www.umkc.edu/global-assets/images/Womens-Soccer-at-the-Liberty-Memorial.jpg) no-repeat bottom;
background-attachment: fixed;

color: white;
display: flex;
justify-content: center;
align-items: center;
}




