{% extends "base.html" %} {% block title %}Admin View{% endblock %}
{% block content %}
<h1>GTA Submissions</h1>

<div class="container-fluid" style="margin-top: 32px">
    <h2>Pending Submissions</h2>
    <!--
    <form class="container text-center" method="POST">
        <div class="row row-cols-auto">
            <div class="col">Filter by:</div>

            <div class="col">
                <label class="form-label" for="level-filter">Level</label>
                <select class="form-select form-select-sm" id="level-filter" name="level_filter">
                    <option value="default">Default</option>
                    <option value="BS">BS</option>
                    <option value="MS">MS</option>
                    <option value="PhD">PhD</option>
                </select>
            </div>

            <div class="col">
                <label class="form-label" for="major-filter">Major</label>
                <select class="form-select form-select-sm" id="major-filter" name="major_filter">
                    <option value="default">Default</option>
                    <option value="CS">CS</option>
                    <option value="IT">IT</option>
                    <option value="ECE">ECE</option>
                    <option value="EE">EE</option>
                </select>
            </div>

            <div class="col">
                <label class="form-label" for="pp-filter">Preferred Position</label>
                <select class="form-select form-select-sm" id="pp-filter" name="pp_filter">
                    <option value="default">Default</option>
                    <option value="Grader">Grader</option>
                    <option value="Lab Instructor">Lab Instructor</option>
                    <option value="Both">Both</option>
                </select>
            </div>

            <div class="col">
                <button class="btn btn-secondary btn-sm" name="button" type="submit" value="filter">Apply
                    Filter
                </button>
            </div>

        </div>
    </form>
    -->
</div>

<div class="container-fluid" style="margin-top: 32px">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Submission ID</th>
            <th scope="col">Course Name</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Student UMKC ID</th>
            <th scope="col">Applicant Email</th>
            <th scope="col">Level</th>
            <th scope="col">Major</th>
            <th scope="col">Preferred Position</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for submissions, user, course, gta_application in submissions_join %}
        <form method="POST">
            {% if submissions.status == 'Pending..' %}
            <tr>
                <td>{{submissions.id}}</td>
                <td>{{course.c_name}}</td>
                <td>{{gta_application.f_name}}</td>
                <td>{{gta_application.l_name}}</td>
                <td>{{gta_application.std_id}}</td>
                <td>{{gta_application.app_email}}</td>
                <td>{{gta_application.level}}</td>
                <td>{{gta_application.major}}</td>
                <td>{{gta_application.apply_for}}</td>
                {% if current_user.is_authenticated and current_user.is_admin %}
                <td>
                    <button class="btn btn-success" name="approve" value="{{submissions.id}}">Approve</button>
                    <button class="btn btn-danger" name="deny" value="{{submissions.id}}">Deny</button>
                </td>
                {% endif %}
                {% endif %}
            </tr>
        </form>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="container-fluid" style="margin-top: 32px">
    <h2>Approved Submissions</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Submission ID</th>
            <th scope="col">Course Name</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Student UMKC ID</th>
            <th scope="col">Applicant Email</th>
            <th scope="col">Level</th>
            <th scope="col">Major</th>
            <th scope="col">Preferred Position</th>
        </tr>
        </thead>
        <tbody>
        {% for submissions, user, course, gta_application in submissions_join %}
        <form method="POST">
            {% if submissions.status == 'Approved' %}
            <tr>
                <td>{{submissions.id}}</td>
                <td>{{course.c_name}}</td>
                <td>{{gta_application.f_name}}</td>
                <td>{{gta_application.l_name}}</td>
                <td>{{gta_application.std_id}}</td>
                <td>{{gta_application.app_email}}</td>
                <td>{{gta_application.level}}</td>
                <td>{{gta_application.major}}</td>
                <td>{{gta_application.apply_for}}</td>
            </tr>
            {% endif %}
        </form>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="container-fluid" style="margin-top: 32px">
    <h2>Denied Submissions</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Submission ID</th>
            <th scope="col">Course Name</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Student UMKC ID</th>
            <th scope="col">Applicant Email</th>
            <th scope="col">Level</th>
            <th scope="col">Major</th>
            <th scope="col">Preferred Position</th>
        </tr>
        </thead>
        <tbody>
        {% for submissions, user, course, gta_application in submissions_join %}
        <form method="POST">
            {% if submissions.status == 'Denied' %}
            <tr>
                <td>{{submissions.id}}</td>
                <td>{{course.c_name}}</td>
                <td>{{gta_application.f_name}}</td>
                <td>{{gta_application.l_name}}</td>
                <td>{{gta_application.std_id}}</td>
                <td>{{gta_application.app_email}}</td>
                <td>{{gta_application.level}}</td>
                <td>{{gta_application.major}}</td>
                <td>{{gta_application.apply_for}}</td>
            </tr>
            {% endif %}
        </form>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}