{% extends "base.html" %} {% block title %}Add Courses{% endblock %}
{% block content %}
    <h1>Courses</h1>
        <ul>
            {% for course in courses %}
                <input type="button" id="course_{{ course.id }}" value="Apply">
                <label for="course_{{ course.id }}">{{ course.name }}</label>
                <br>
            {% endfor %}
        </ul>

    <h2>Lab Courses</h2>
        <ul>
            {% for course in lab_courses %}
                <input type="button" id="lab_course_{{ course.id }}" value="Apply">
                <label for="lab_course_{{ course.id }}">{{ course.name }}</label>
                <br>
            {% endfor %}
        </ul>
{% endblock %}
