{% extends "base.html" %} {% block title %}Add Courses{% endblock %}
{% block content %}
    <h1>Courses</h1>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headOne">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        CS101
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headOne" data-parent="#accordion">
                <div class="card-body">
                    Problem solving, algorithms, and program design. Use of structured programming, lists, control structures, recursion, objects and files in Python. Introduction to graphical interface programming. Coding, testing and debugging using a modern development environment. Prerequisites: MATH 110 or MATH 120 (or higher) or ALEKS score of 51 (or higher); or MyMathTest College Algebra Score of 70 or higher, ACT Math sub-score of 28 or higher; or SAT Math sub-score of 660 or higher. Co-requisites: COMP-SCI 101L.
.
                </div>
                <div class="row justify-content-center">
                    <div class="col-1">
                        <div class="p-3">
                            <button type="submit" class="btn btn-primary" >Apply</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        CS201
                    </button>
                </h5>
            </div>

            <div id="collapseTwo" class="collapse show" aria-labelledby="headTwo" data-parent="#accordion">
                <div class="card-body">
                    Course description here.
                </div>
                <div class="row justify-content-center">
                    <div class="col-1">
                        <div class="p-3">
                            <button type="submit" class="btn btn-primary" >Apply</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2>Lab Courses</h2>
    <div id="accordition">
        <div class="card">
            <div class="card-header" id="headThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        CS 101L
                    </button>
                </h5>
            </div>

            <div id="collapseThree" class="collapse show" aria-labelledby="headThree" data-parent="#accordition">
                <div class="card-body">
                    Programming exercises and demonstrations to reinforce concepts learned in COMP-SCI 101 and provide additional practice in Python programming.  Prerequisites: MATH 110 or MATH 120 (or higher) or ALEKS score of 51 (or higher); or MyMathTest College Algebra Score of 70 or higher, ACT Math sub-score of 28 or higher; or SAT Math sub-score of 660 or higher. Co-requisites: COMP-SCI 101.
                </div>
                <div class="row justify-content-center">
                    <div class="col-1">
                        <div class="p-3">
                            <button type="submit" class="btn btn-primary" >Apply</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}