{% extends "base.html" %} {% block title %}View Courses{% endblock %}
{% block content %}

{% with messages = get_flashed_messages(category_filter=["error"]) %}
{% if messages %}
<div class="flashes-error">
    <p>{{ messages[0] }} </p>
</div>
{% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter=["success"]) %}
{% if messages %}
<div class="flashes-success">
    <p>{{ messages[0] }} </p>
</div>
{% endif %}
{% endwith %}

<div class="container-fluid" style="width: 80%; margin-top: 32px;">
    <h1>Edit Open Courses</h1>
    <form class="container text-center" method="POST">
        <div class="row row-cols-auto">
            <div class="col">Filter by:</div>

            <div class="col">
                <label class="form-label" for="degree-filter">Major</label>
                <select class="form-select form-select-sm" id="degree-filter" name="degree_filter">
                    <option value="default">Default</option>
                    <option value="CS">CS</option>
                    <option value="IT">IT</option>
                    <option value="ECE">ECE</option>
                    <option value="EE">EE</option>
                </select>
            </div>

            <div class="col">
                <label class="form-label" for="pos-filter">Position</label>
                <select class="form-select form-select-sm" id="pos-filter" name="pos_filter">
                    <option value="default">Default</option>
                    <option value="grader">Grader</option>
                    <option value="lab instructor">Lab Instructor</option>
                </select>
            </div>

            <div class="col">
                <label class="form-label" for="gta-filter">GTA Certification</label>
                <select class="form-select form-select-sm" id="gta-filter" name="gta_filter">
                    <option value="default">Default</option>
                    <option value="true">Required</option>
                    <option value="false">Not Required</option>
                </select>
            </div>

            <div class="col">
                <button class="btn btn-secondary btn-sm" name="button" type="submit" value="filter">Apply
                    Filter
                </button>
            </div>

        </div>
    </form>
    <br>
</div>

<div class="container-fluid" style="width: 80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Course ID</th>
            <th scope="col">Name</th>
            <th scope="col">Instructor</th>
            <th scope="col">Position</th>
            <th scope="col">GTA Certification Required</th>
            {% if current_user.is_authenticated %}
            <th scope="col">Action</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for course in courses %}
        <form method="POST">
            <tr>
                <th scope="row">{{course.id}}</th>
                <td>{{course.c_name}}</td>
                <td>{{course.instructor}}</td>
                <td>{{course.position}}</td>
                <td>{{course.gta_cert_req}}</td>
                {% if current_user.is_authenticated and current_user.is_admin %}
                <td>
                    <button class="btn btn-danger" name="remove_btn" value="{{course.id}}">Remove</button>
                </td>
                {% endif %}
            </tr>
        </form>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="container-fluid" style="width: 80%; margin-top: 32px;">
    <h2>Add a Course</h2>
    <form method="POST" class="row g-5">
        <div class="col-md-2">
            <label for="class-name" class="form-label">Course Name</label>
            <input type="text" class="form-control" name="c_name" id="class-name" required>
        </div>
        <div class="col-md-2">
            <label for="instructor" class="form-label">Instructor</label>
            <input type="text" class="form-control" name="instructor" id="instructor" required>
        </div>
        <div class="col-md-2">
            <label for="position" class="form-label">Position</label>
            <select class="form-select" name="position" id="position" required>
                <option selected>Choose...</option>
                <option value="Grader">Grader</option>
                <option value="Lab Instructor">Lab Instructor</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="gta-cert-req" class="form-label">GTA Certification Required</label>
            <select class="form-select" name="gta_cert_req" id="gta-cert-req" required>
                <option selected>Choose...</option>
                <option value="True">True</option>
                <option value="False">False</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="add-course" class="form-label">Action</label>
            <button type="submit" class="btn btn-primary" name="button" id="add-course" value="add_course" >Add Course</button>
        </div>
    </form>

</div>

{% endblock %}