{% extends "base.html" %}
{% block title %}Application Form{% endblock %}
{% block content %}
<div class="gta-app-container">
    <h1>Application Form</h1>
    <form method="POST" action="/submit" class="form-horizontal">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required>

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required><br><br>

        <label for="student_id">Student ID:</label>
        <input type="text" id="student_id" name="student_id" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="current_level">Current Level:</label>
        <select name="level" id="current_level">
            <option value="bs">BS</option>
            <option value="ms">MS</option>
            <option value="phd">PhD</option>
        </select>

        <label for="grad_semester">Graduating Semester:</label>
        <input type="text" id="grad_semester" name="phone" required><br><br>

        <label for="umkc_gpa">UMKC Cumulative GPA (leave blank if first semester is in progress):</label>
        <input type="text" id="umkc_gpa" name="phone" required><br><br>

         <label for="umkc_hours">Hours Completed at UMKC (leave blank if first semester is in progress):</label>
        <input type="text" id="umkc_hours" name="phone" required><br><br>

        <label for="undergrad_degree">Undergraduate Degree:</label>
        <input type="text" id="undergrad_degree" name="phone" required><br><br>

        <label for="current_major">Current Major:</label>
        <select name="level" id="current_major">
            <option value="cs">CS</option>
            <option value="it">IT</option>
            <option value="ece">ECE</option>
            <option value="ee">EE</option>
        </select><br><br>

        <label for="applying_for">Applying For:</label>
        <select name="level" id="applying_for">
            <option value="grader">Grader</option>
            <option value="lab_instructor">Lab Instructor</option>
            <option value="both">Both</option>
        </select><br><br>


        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
