{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="main-image-container">
        <h1>Welcome to The UMKC GTA Applicant Portal!</h1>
    </div>
</div>
<div class="container-fluid">
    <h1 class="display-2">Our Goal..</h1>
    <p>
        To make a seamless process for our valued professors to locate quality help, and for interested applicants to
        easily view and apply for job openings.
    </p>
</div><br>
<div class="container-fluid">
    <h1 class="display-2">Courses Overview</h1>
    <div class="accordion accordion-flush" id="courseAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button aria-controls="cOne" aria-expanded="false" class="accordion-button collapsed"
                        data-bs-target="#cOne" data-bs-toggle="collapse" type="button">
                    CS101
                </button>
            </h2>
            <div class="accordion-collapse collapse" data-bs-parent="courseAccordion" id="cOne">
                <div class="accordion-body">
                    Placeholder text.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button aria-controls="cTwo" aria-expanded="false" class="accordion-button collapsed"
                        data-bs-target="#cTwo" data-bs-toggle="collapse" type="button">
                    CS201
                </button>
            </h2>
            <div class="accordion-collapse collapse" data-bs-parent="courseAccordion" id="cTwo">
                <div class="accordion-body">
                    Placeholder text.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button aria-controls="cThree" aria-expanded="false" class="accordion-button collapsed"
                        data-bs-target="#cThree" data-bs-toggle="collapse" type="button">
                    CS303
                </button>
            </h2>
            <div class="accordion-collapse collapse" data-bs-parent="courseAccordion" id="cThree">
                <div class="accordion-body">
                    Placeholder text.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}