{% extends "base.html" %} {% block title %}Login{% endblock %}
{% block nav_content %}

{% with messages = get_flashed_messages(category_filter=["success"]) %}
{% if messages %}
    <div class="flashes-success" >
        <p>{{ messages[0] }} </p>
    </div>
{% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter=["error"]) %}
{% if messages %}
    <div class="flashes-error" >
        <p>{{ messages[0] }} </p>
    </div>
{% endif %}
{% endwith %}

<div class ="form-container">
    <h1>Login</h1>
    <form method="POST" action="/">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required><br>
        <button type="submit">Log In</button>
    </form>
</div>
{% endblock %}