{% extends "base.html" %} {% block title %}signUp{% endblock %}
{% block nav_content %}

{% with messages = get_flashed_messages(category_filter=["success"]) %}
{% if messages %}
    <div class="flashes-success" >
        <p>{{ messages[0] }} </p>
    </div>
{% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter=["error"]) %}
{% if messages %}
    <div class="flashes-error" >
        <p>{{ messages[0] }} </p>
    </div>
{% endif %}
{% endwith %}

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            text-align: center;
        }
        .form-container {
            max-width: 300px;
            margin: 100px auto;
            background: #fff;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .form-container h1 {
            margin-bottom: 20px;
            color: #007bff;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .form-group label {
            display: block;
            text-align: left;
            font-weight: bold;
        }
        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        .remember-me {
            text-align: left;
            font-weight: normal;
        }
        .forgot-password {
            text-align: right;
            margin-top: 10px;
        }
        .btn-login {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
    </style>
    <div class="form-container">
        <h1>Sign Up</h1>
        <form method="POST">
            <div class="form-group">
                <label for="email">Enter Email: </label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="form-group">
                <label for="password">Enter 5 Character Password:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="form-group">
                <label for="password-check">Re-enter Password:</label>
                <input type="password" name="password_check" id="password-check" required>
            </div>

            <button type="submit" class="btn-login">Sign Up</button>
        </form>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}